/* -------------------- General */
/* ----- General */
/* -------------------- Index */
/* ----- General */
/* ----- Calendar */
.calendar-container {

}

.calendar-container svg {
    margin-top: 1rem;
    width: 100%;
}