@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.color-codes{
    color: #FD5E53;
    color: #F9FCFB;
    color: #B0EACD;
    color: #21BF73;
}

/* -------------------- General */
/* ----- General */
body {
    background: url("../images/holiday-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.link-plain,
.link-plain:hover,
.link-plain:link,
.link-plain:visited{
    color: #faf9f6;
    text-decoration: none;
}

.x-mas-text {
    font-family: "Emilys Candy", sans-serif;
    filter: drop-shadow(1px 1px 2px #010203);
    text-shadow: 2px 2px 4px #010203,
                -2px -2px 6px #010203;
    color: #faf9f6
}

/* -------------------- Index */
/* ----- General */
/* ----- Calendar */

/* name text shadow */
.header-name-shadow {
    filter: drop-shadow(1px 1px 2px #010203);
    text-shadow: 2px 2px 4px #010203,
                -2px -2px 6px #010203;
}
/* mutes background */
.calendar-overlay {
    position: absolute;
    background-color: #3a3a3a83;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
/* calendar dummy image */
.calendar-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
    width:  500px;
    border-radius: 50%;
    background-color: #B0EACD;
    background: url("../images/dummy-calendar.jpg");
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.692),
                -2px -2px 4px rgba(51, 51, 51, 0.692),
                inset 2px 2px 2px #5f5f5fb9,
                inset -2px -2px 2px #5f5f5fb9;
}
/* login button */
.login-button {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: .5em .75em;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    margin-bottom: .5rem;
    width: fit-content;
    transition-duration: .25s;
    color: #fff!important;
    border: 2px solid #1bc732!important;
    background: linear-gradient(45deg, #138722, #1bc732, #18AD2C);
    text-shadow: 1px 1px #333;
}
