@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Emilys+Candy&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--dark-red: #ad251b;
    --red: #fd5e53;
	--dark-green: #138722;
    --green: #1bc732;
    
	--white: #f9fcfb;
    --grey: #333;
	--black: #010203;

	--heading-font: "Emilys Candy", sans-serif;
}

/* -------------------- General */
body {
    background: linear-gradient(to right, rgba(173, 37, 27, 0.3), rgba(26, 168, 100, 0.3)),
        url("../images/christmas-wallpaper.jpg") no-repeat center center / cover;
    background-attachment: fixed;
    height: 100vh;
}

.xmas-text {
    color: var(--white);
    font-family: "Emilys Candy", sans-serif;
    filter: drop-shadow(1px 1px 2px var(--black));
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px var(--black),
                -2px -2px 6px var(--black);
}

.box-shadow {
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.692),
        -2px -2px 4px rgba(51, 51, 51, 0.692),
        inset 2px 2px 2px #5f5f5fb9,
        inset -2px -2px 2px #5f5f5fb9;
}

/* ----- Buttons */
.btn {
    border-radius: 2px;
    box-shadow: 2px 2px var(--grey);
    color: var(--white);
    text-shadow: 1px 1px var(--grey);
}

.btn:hover {
    box-shadow: none;
    color: var(--white);
    transform: translate(2px, 2px);
}

.btn-green {
    background: linear-gradient(45deg, var(--dark-green), var(--green), var(--dark-green) );
    border-color: var(--dark-green);
}

.btn-red {
    background: linear-gradient(45deg, var(--dark-red), var(--red), var(--dark-red) );
    border-color: var(--dark-red);
}

/* -------------------- Navbar */
.navbar-bg {
	background-color: var(--white);
}

.navbar-brand img,
.offcanvas-header img {
	width: 45px;
}

.navbar-nav {
	display: flex;
	gap: 15px;
}

.offcanvas-header h5 {
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
}

.offcanvas-header a.nav-link {
    text-align: center;
}

.offcanvas-body .flex-column {
gap: 15px;
}

/* -------------------- Index */
/* ----- Modal */
.santa-modal {
    background-color: transparent;
    border: none;
}

.santa-letter {
    background-image: url(../images/santa-letter-sm.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10%;
    font-family: 'Fuzzy Bubbles', sans-serif;
}

.santa-letter h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* ----- Calendar */
.calendar-container,
.form-container {
    height: 80vh;
}

.calendar-bg {
    background: url('../images/calendar.jpg') no-repeat center center / cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

/* -------------------- Profile */

.event-container {
    background-color: #faf9f6;
    color: #333;
    border: 2px solid #333;
    height: 5rem;
}

.custom-button {
    position: relative;
    padding: .5em .75em;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    margin-bottom: .5rem;
    width: fit-content;
    transition-duration: .25s;
    color: #fff!important;
    text-shadow: 1px 1px #333;
}

.green-button {
    background: linear-gradient(45deg, #138722, #1bc732, #18AD2C);
    border: 2px solid #1bc732!important;
}

.magenta-button {
    background: linear-gradient(45deg, #6D1D7A, #B026C7, #6D1D7A);
    border: 2px solid #B026C7!important;
}

.teal-button {
    background: linear-gradient(45deg, #1A8766, #26C796, #1A8766);
    border: 2px solid #26C796!important;
}

.blue-button {
    background: linear-gradient(45deg, #00B0BD, #00EAFC, #00B0BD);
    border: 2px solid #00EAFC!important;
}

.user-avatar {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.hide {
    display: none;
}

/* --------------- Contact */
.contact-container {
    color: #fafafa;
}

.member-row {
    background: rgba(0, 0, 0, 0.8);
    margin: 20px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #fafafa
}

.member-row .row {
    margin: 10px 0;
}

.member-name hr {
    border: 2px solid #fafafa;
    border-radius: 2px;
    opacity: 1;
}

.member-row .member-social {
    margin-top: 0;
}

.member-social a {
    text-decoration: none;
    color: #fafafa;
}

.member-social a i {
    font-size: 50px;
}

/* Register/Log in forms */

.form-group p {
    padding: 0;
    margin: 0;
}

/* --------------- Media Queries */
@media screen and (min-width: 500px) {
    .santa-letter {
        background-image: url(../images/santa-letter-md-lg.svg);
        padding: 7%;
    }
}

/* Event create/edit page */

/* .event-container {
    background-color: #F9FCFB;
    color: #000;
    border: 2px solid #000;
}

.event-form * {
    margin: 0;
    padding: 0;
}

.event-form p {
    font-weight: 500;
}

.event-form input {
    width: 100%;
}

.event-form .row {
    margin: 10px 0 10px 0;
}

.add-button {
    border: none;
    background: none;
    margin-left: 10px;
}

.form-bottom-button {
    padding: 3px 7px;
}

.food-list-row {
    height: 100px;
} */
