@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

.color-codes {
    color: #FD5E53;
    color: #F9FCFB;
    color: #B0EACD;
    color: #21BF73;
}

:root {
	--red: #ad251b;
	--green: #1aa864;
	--light-green: #b0eacd;
	--white: #f9fcfb;
	--black: #012023;

	--heading-font: "Emilys Candy", sans-serif;
}

/* -------------------- General */
/* ----- General */
body {
    background: url("../images/holiday-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.link-plain,
.link-plain:hover,
.link-plain:link,
.link-plain:visited{
    color: #faf9f6;
    text-decoration: none;
}

.x-mas-text {
    font-family: "Emilys Candy", sans-serif;
    filter: drop-shadow(1px 1px 2px #010203);
    text-shadow: 2px 2px 4px #010203,
                -2px -2px 6px #010203;
    color: #faf9f6
}

/* ----- Navbar */
.navbar-bg {
	background-color: var(--white);
}

.navbar-brand img,
.offcanvas-header img {
	width: 40px;
}

.navbar-nav {
	display: flex;
	gap: 15px;
}

.nav-item {
    background-color: var(--white);
    border: 2px solid var(--red);
    border-radius: 2px;
    box-shadow: 2px 2px var(--black);
}

.nav-item a {
    color: var(--red);
    font-weight: 600;
}

.nav-item .active {
    background-color: var(--red);
    color: var(--white);
}

.nav-item a:hover, 
.nav-item a:focus {
    color: var(--white);
}

.nav-item:hover, 
.nav-item:focus{
    background-color: var(--red);
    box-shadow: none;
    transform: translate(2px, 2px);
}

.sidenav-btn {
    background-color: var(--white);
    border: 2px solid var(--green);
    border-radius: 2px;
    box-shadow: 2px 2px var(--black);
}

.sidenav-btn i {
    color: var(--green);
    font-size: 1.2rem;
}

.sidenav-btn i:hover {
    color: var(--white);
}

.sidenav-btn:hover,
.sidenav-btn:focus {
    background-color: var(--green);
    border: 2px solid var(--green);
    box-shadow: none;
    transform: translate(2px, 2px);
}

.flex-column {
    gap: 15px;
}

.offcanvas-header h5 {
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
}

.offcanvas-header a.nav-link {
    text-align: center;
}

/* -------------------- Index */
/* ----- General */

/* ----- Modal */
.center-y {
    top: -20%;
    transform: translateY(20%);
}

.back-transparent {
    background-color: transparent;
}

.remove-border {
    border: none;
}

.paper-background {
    position: relative;
    background-position: 0% 50%;
    background: repeating-linear-gradient(rgb(255, 255, 240), rgb(255, 255, 240) 20px, rgba(77, 146, 211, .5)20px 22px),
                linear-gradient(to bottom, rgb(226, 14, 14) 22px, rgba(0,0,0,0) 22px 100px);
    background-color: #faf9f6;
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.692),
                -2px -2px 4px rgba(51, 51, 51, 0.692),
                inset 2px 2px 2px #5f5f5fb9,
                inset -2px -2px 2px #5f5f5fb9;
    text-shadow: 1px 1px 2px #010203;
    color: #010203;
    text-align: left;
    margin: 1rem;

}
/* ----- Calendar */
.calendar-container {
    position: relative;
    top: -20%;
    transform: translateY(20%);
}

/* name text shadow */
.header-name-shadow {
    filter: drop-shadow(1px 1px 2px #010203);
    text-shadow: 2px 2px 4px #010203,
                -2px -2px 6px #010203;
}
/* mutes background */
.calendar-overlay {
    position: absolute;
    background-color: #3a3a3a83;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
/* calendar dummy image */
.calendar-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
    width:  500px;
    border-radius: 50%;
    background-color: #B0EACD;
    background: url("../images/dummy-calendar.jpg");
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.692),
                -2px -2px 4px rgba(51, 51, 51, 0.692),
                inset 2px 2px 2px #5f5f5fb9,
                inset -2px -2px 2px #5f5f5fb9;
}

/* login button */
.login-button {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: .5em .75em;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    margin-bottom: .5rem;
    width: fit-content;
    transition-duration: .25s;
    color: #fff!important;
    border: 2px solid #1bc732!important;
    background: linear-gradient(45deg, #138722, #1bc732, #18AD2C);
    text-shadow: 1px 1px #333;
}

/* -------------------- Profile */

.event-container {
    background-color: #faf9f6;
    color: #333;
    border: 2px solid #333;
    height: 5rem;
}



.custom-button {
    position: relative;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    /* transform: translateY(-50%); */
    padding: .5em .75em;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    margin-bottom: .5rem;
    width: fit-content;
    transition-duration: .25s;
    color: #fff!important;
    text-shadow: 1px 1px #333;
}

.green-button {
    background: linear-gradient(45deg, #138722, #1bc732, #18AD2C);
    border: 2px solid #1bc732!important;
}

.magenta-button {
    background: linear-gradient(45deg, #6D1D7A, #B026C7, #6D1D7A);
    border: 2px solid #B026C7!important;
}

.teal-button {
    background: linear-gradient(45deg, #1A8766, #26C796, #1A8766);
    border: 2px solid #26C796!important;
}

.blue-button {
    background: linear-gradient(45deg, #00B0BD, #00EAFC, #00B0BD);
    border: 2px solid #00EAFC!important;
}

.event-text {

}

/* Event create/edit page */

.event-container {
    background-color: #F9FCFB;
    color: #000;
    border: 2px solid #000;
}

.event-form * {
    margin: 0;
    padding: 0;
}

.event-form p {
    font-weight: 500;
}

.event-form input {
    width: 100%;
}

.event-form .row {
    margin: 10px 0 10px 0;
}

.add-button {
    border: none;
    background: none;
    margin-left: 10px;
}

.form-bottom-button {
    padding: 3px 7px;
}

.food-list-row {
    height: 100px;
}

/* Santa letter modal style */
.santa-letter {
    background-image: url(../images/santa-letter-sm.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10%;
    font-family: 'Fuzzy Bubbles', sans-serif;
}

.santa-letter h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Profile page */
.user-avatar {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.hide {
    display: none;
}

@media screen and (min-width: 500px) {
    .santa-letter {
        background-image: url(../images/santa-letter-md-lg.svg);
        padding: 7%;
    }
}