{% extends "base.html" %}
{% block title %}| Contact{% endblock %}

{% block content %}
<div class="container-fluid contact-container">
    <div class="row team-name">
        <div class="col text-center">
            <h2>Santa's Kitchen Nightmare</h2>
            <h3>Meet the team:</h3>
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>Richard Eldridge</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline">
            <a href="https://www.linkedin.com/in/richard-eldridge-4200221ab/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Richardaeld" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            <p>
                Richard is probably the first elf that you would meet in the North Pole. As the Head of Santacurity, he
                is entrusted with watching out for the well-being of the other elves, Santa Claus, Mrs. Claus and the
                reindeers.<br>
                On a typical day you will find him patrolling around the village and designing new security systems that
                will stop people from finding out where the secret village is.
                His favourite festive snacks are gingerbread cookies with a side of almond milk.
            </p>
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>Kirsty Chatterton</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline d-inline">
            <a href="https://www.linkedin.com/in/kirsty-c-154781a4/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/KirstChat" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            As the head of sweets, Kirsty is one of the most brilliant cooks around! Living in the secret village has
            its perks, as she has been sent to the most prestigious cooking schools in the world. Don't believe us? Ask
            one of the billion of kids who have received some of her candy.<br>
            She can usually be found in the lab, mixing and matching ingredients to find new combinations. Even though
            she has a mostly administrative position nowadays, her creativity never runs out!
            Her favourite Christmas snacks are tree cookies and peppermint bark dip.
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>Paul Browne</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline d-inline">
            <a href="https://www.linkedin.com/in/paul-browne-8951a342/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://github.com/pbtrad" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            Even though Richard is the first one you will see at the secret village, Paul is actually the first one you
            will hear. Proudly donning the title of head musician, his tunes can be heard all day throughout the
            village. Who knows, some of them might as well have escaped the village into the whole wide world. You know,
            all those Christmas songs that you can't get out of your head. You never know where they came from...<br>
            When it comes to Christmas snacks, he says that he doesn't like sweets. Some of the village elves say
            otherwise, however, as there are rumours of him having a stash of caramel corn.
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>Patrik Österljung</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline d-inline">
            <a href="https://www.linkedin.com/in/patrik-%C3%B6sterljung-433b35215/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://github.com/oljung" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            One can only wonder where Patrik's creativity comes from. He is the head of Santa's toys factory and, as you
            might have noticed, the ideas for toys Santa has brought are basically infinite. In his early years, Patrik
            studied engineering and aerodynamics. As one might guess, he also designed Santa's sled. His idea of adding
            a jet turbine to each reindeer seemed very efficient, yet nobody knows why it was never implemented.<br>
            Apart of working in the toys factory, he also hangs out a lot with Richard, helping him develop and build
            his one-of-a-kind security solutions. His favourite Christmas snacks are Chocolate Covered Peppermint
            Pretzels. He loves them a bit too much.
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>George Alexandru Ciobanu</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline d-inline">
            <a href="https://www.linkedin.com/in/g-a-ciobanu/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/AlexGCbn" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            Alex hasn't really found a stable place in the village yet. He is known for doing seasonal work and has
            worked for most branches in the village. His favourite one was the sweets factory. He liked it so much that
            he got moved to another department, as he would eat too many sweets right off the production line. They
            still have a warning poster with his photo in there.<br>
            When it comes to Christmas candy, you don't need to ask him which one is his favourite. All of them are and
            he can have a really hard time deciding even between two of them. His doctor is not a happy elf.
        </div>
    </div>
    <p>&nbsp;&nbsp;</p>
</div>
{%endblock%}