{% extends "base.html" %}
{% block title %}| Contact{% endblock %}

{% block content %}
<div class="container-fluid contact-container">
    <div class="row team-name">
        <div class="col text-center">
            <h2>Santa's Kitchen Nightmare</h2>
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>Richard Eldridge</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline">
            <a href="https://www.linkedin.com/in/richard-eldridge-4200221ab/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Richardaeld" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra turpis lobortis, volutpat augue
            vitae, accumsan metus. Morbi sed tellus blandit, mattis enim et, elementum ipsum. Duis nec pulvinar libero.
            Vivamus mollis nisi faucibus, varius dolor non, gravida augue. Nullam in porta dui. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin aliquet tortor id sodales
            consequat. Fusce id viverra mi. In bibendum sed diam suscipit tristique. Curabitur volutpat, mauris eu
            laoreet finibus, metus mi mollis quam, id venenatis nisl ipsum non purus. Morbi vel aliquam purus, et
            molestie nisi.
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>Kirsty Chatterton</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline d-inline">
            <a href="https://www.linkedin.com/in/kirsty-c-154781a4/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/KirstChat" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra turpis lobortis, volutpat augue
            vitae, accumsan metus. Morbi sed tellus blandit, mattis enim et, elementum ipsum. Duis nec pulvinar libero.
            Vivamus mollis nisi faucibus, varius dolor non, gravida augue. Nullam in porta dui. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin aliquet tortor id sodales
            consequat. Fusce id viverra mi. In bibendum sed diam suscipit tristique. Curabitur volutpat, mauris eu
            laoreet finibus, metus mi mollis quam, id venenatis nisl ipsum non purus. Morbi vel aliquam purus, et
            molestie nisi.
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>Paul Browne</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline d-inline">
            <a href="https://www.linkedin.com/in/paul-browne-8951a342/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/pbtrad" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra turpis lobortis, volutpat augue
            vitae, accumsan metus. Morbi sed tellus blandit, mattis enim et, elementum ipsum. Duis nec pulvinar libero.
            Vivamus mollis nisi faucibus, varius dolor non, gravida augue. Nullam in porta dui. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin aliquet tortor id sodales
            consequat. Fusce id viverra mi. In bibendum sed diam suscipit tristique. Curabitur volutpat, mauris eu
            laoreet finibus, metus mi mollis quam, id venenatis nisl ipsum non purus. Morbi vel aliquam purus, et
            molestie nisi.
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>MEMBER NAME</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline d-inline">
            <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra turpis lobortis, volutpat augue
            vitae, accumsan metus. Morbi sed tellus blandit, mattis enim et, elementum ipsum. Duis nec pulvinar libero.
            Vivamus mollis nisi faucibus, varius dolor non, gravida augue. Nullam in porta dui. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin aliquet tortor id sodales
            consequat. Fusce id viverra mi. In bibendum sed diam suscipit tristique. Curabitur volutpat, mauris eu
            laoreet finibus, metus mi mollis quam, id venenatis nisl ipsum non purus. Morbi vel aliquam purus, et
            molestie nisi.
        </div>
    </div>
    <div class="row member-row">
        <div class="row member-name text-center">
            <h3>George Alexandru Ciobanu</h3>
            <hr>
        </div>
        <div class="row member-social text-center d-inline d-inline">
            <a href="https://www.linkedin.com/in/g-a-ciobanu/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/AlexGCbn" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="row member-bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra turpis lobortis, volutpat augue
            vitae, accumsan metus. Morbi sed tellus blandit, mattis enim et, elementum ipsum. Duis nec pulvinar libero.
            Vivamus mollis nisi faucibus, varius dolor non, gravida augue. Nullam in porta dui. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin aliquet tortor id sodales
            consequat. Fusce id viverra mi. In bibendum sed diam suscipit tristique. Curabitur volutpat, mauris eu
            laoreet finibus, metus mi mollis quam, id venenatis nisl ipsum non purus. Morbi vel aliquam purus, et
            molestie nisi.
        </div>
    </div>
</div>
{%endblock%}
