{% extends "base.html" %}
{% block content %}

<div class="container-fluid event-container">
    <form action="POST" class="event-form">
        <!-- Empty top row / Placeholder -->
        <div class="row">

        </div>

        <div class="row">
            <!-- Empty left column for lg/md -->
            <div class="col-lg-2 col-md-1"></div>

            <!-- Outer content column -->
            <div class="col">
                <!-- Inner empty left column for lg/md -->
                <div class="col-lg-2 col-md-1"></div>

                <!-- Inner content column -->
                <div class="col">
                    <div class="row text-center">
                        <h3>Family Name</h3>
                    </div>
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <p>Event Name:</p>
                        </div>
                        <div class="col">
                            <input type="text" name="event-name" id="event-name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <p>Date:</p>
                        </div>
                        <div class="col col-sm-5 col-lg-3">
                            <input type="date" name="event-date" id="event-date">
                        </div>
                    </div>
                    <div class="row">
                        <p>Description</p>
                    </div>
                    <div class="row">
                        <input type="textarea" name="event-description" id="event-description" rows="4">
                    </div>
                    <div class="row">
                        <p>Food we will have:</p>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" name="food-add-item" id="food-add-item">
                        </div>
                        <div class="col">
                            <button type="button" class="add-button"><i class="fas fa-plus-circle"></i></button>
                        </div>
                    </div>
                    <div class="row food-list-row">
                        <textarea name="food-added-list" id="food-added-list" readonly>

                        </textarea>
                    </div>
                    <div class="row">
                        <p>Food we will need:</p>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" name="food-add-needed" id="food-add-needed">
                        </div>
                        <div class="col">
                            <button type="button" class="add-button"><i class="fas fa-plus-circle"></i></button>
                        </div>
                    </div>
                    <div class="row food-list-row">
                        <textarea name="food-needed-list" id="food-needed-list" readonly>
                            
                        </textarea>
                    </div>
                    <div class="row">
                        <div class="col text-start">
                            <button type="submit" class="btn btn-success form-bottom-button">Confirm</button>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-danger form-bottom-button">Cancel</button>
                        </div>
                    </div>
                </div>

                <!-- Inner empty right column for lg/md -->
                <div class="col-lg-2 col-md-1"></div>
            </div>

            <!-- Empty right column for lg/md -->
            <div class="col-lg-2 col-md-1"></div>
        </div>

        <!-- Empty Bottom Row / Placeholder -->
        <div class="row">
    </form>
</div>

</div>

{% endblock %}

