<div class="container-fluid santa-letter-container">
    <div class="row">
        <div class="col col-md-3">

        </div>
        <div class="col santa-letter">
            <img src="/static/images/santa-letter.png" alt="">
            <div class="row letter-head">
                <div class="col text-center">
                    <h3>Dear Santa,</h3>
                </div>
            </div>
            <div class="row letter-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus felis erat. Aenean
                    lectus dui,
                    mollis et turpis quis, suscipit pulvinar purus. Etiam sit amet tortor ipsum. Duis mattis erat a
                    mauris
                    rutrum, id convallis leo maximus. Fusce eu diam eleifend, semper turpis quis, mattis nibh. In
                    dignissim
                    est
                    sit amet tortor dapibus, in facilisis tellus suscipit. Aliquam erat volutpat. Duis at dignissim
                    orci, eu
                    finibus nisl. Ut quis tortor facilisis, facilisis diam vel, mattis ligula. Maecenas lobortis,
                    augue eu
                    posuere fermentum, neque dolor fermentum neque, vel tempus est turpis ac arcu. Sed accumsan ex
                    orci, non
                    sodales libero hendrerit a.

                    Sed non posuere tellus. Morbi sodales eros ligula, malesuada venenatis urna porttitor sed. Nulla
                    vestibulum
                    id mi id imperdiet. Sed luctus lorem quis nunc lobortis, vitae rutrum nisl rhoncus. Maecenas sem
                    eros,
                    gravida ut eleifend a, egestas non ligula. Vestibulum et nisi mauris. Mauris feugiat nunc eu
                    facilisis
                    tincidunt. Suspendisse porttitor nulla ac enim lobortis faucibus.
                </p>
            </div>
        </div>
        <div class="col col-md-3">

        </div>
    </div>
</div>