{% extends "base.html" %}
{% set active_page = 'login' %}
{% block content %}
{% if message  %}
<div class="row justify-content-center h-100 m-5">
  <div class="col-sm-12 col-md-4 align-self-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ message }}</h5>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="row justify-content-center form-container">
  <div class="col-sm-12 col-md-8 align-self-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form action="" method="post" id="login-form">
          <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input name="email" class="form-control validate" id="InputEmail" type="email" placeholder="Enter email"
              required>
              <p id="email-validation-field">&nbsp;&nbsp;</p>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" name="password" class="form-control validate" id="InputPassword" minlength="5"
              maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Password" required>
          </div>
          <p id="password-validation-field">&nbsp;&nbsp;</p>
          <button type="submit" class="btn btn-green mt-3" id="login-submit">Submit</button>
        </form>
        <div class="card-text mt-3">
          <p>Don't have an account? Click the button below to register an account.</p>
          <a href="{{ url_for('register')}}" class="btn btn-red">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="../static/js/script.js"></script>
{% endblock %}