{% extends "base.html" %}
{% block title %}| Register{% endblock %}

{% block content %}
<div class="row justify-content-center form-container">
  <div class="col-sm-12 col-md-8 align-self-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Register</h5>
        <form action="" method="post" id="registration-form">
          <div class="form-group">
            <label for="Username">Username</label>
            <input name="username" class="form-control required" type="text" minlength="5" maxlength="15"
              pattern="^[a-zA-Z0-9]{5,15}$" id="inputUserName" aria-describedby="emailHelp" placeholder="Enter username"
              required>
              <p id="username-validation-field">&nbsp;&nbsp;</p>
            <small id="userName" class="form-text text-muted">Please enter your username</small>
          </div>
          <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input name="email" class="form-control required" type="email" id="InputEmail" placeholder="Enter email"
              required>
            <p id="email-validation-field">&nbsp;&nbsp;</p>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" name="password1" class="form-control validate" minlength="5"
              maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" id="InputPassword" placeholder="Password" required>
              <p id="password-validation-field">&nbsp;&nbsp;</p>
          </div>

          <div class="form-group">
            <label for="InputPassword2">Repeat Password</label>
            <input type="password" name="password2" class="form-control validate" minlength="5"
              maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" id="InputPassword2" placeholder="Repeat Password" required>
              <p id="password-repeat-validation-field">&nbsp;&nbsp;</p>
          </div>
          <button type="submit" class="btn btn-green mt-3">Submit</button>
        </form>
        <div class="card-text mt-3">
          <p>Already have an account? Click the button below to login.</p>
          <a href="{{ url_for('login')}}" class="btn btn-red">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/script.js"></script>
{% endblock %}